.work-product{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F2E35;
    padding: 100px 120px;
    

    .work-title{
        font-size: 50px;
        color: white;
        margin-bottom: 50px;
    }

    .work-product-box{
        display: flex;
        gap: 100px;
        padding: 50px 0px;


        .work-product-img{
            flex: 1;
            width: 100%;
            img{
                width: 100%;
            }
        }

        .work-product-text{
            flex: 2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            color: white;
            h5{
                font-size: 18px;
                font-weight: 400;
            }

            .step_one{
                font-size: 30px;
            }

            p{
                font-size: 20px;
                line-height: 30px;
                font-weight: 400;
                width: 80%;
            }
        }
    }

    .work-btn{
        margin-top: 50px;
        text-align: center;
        font-size: 20px;
        padding: 15px 40px;
        border: none;
        border-radius: 10px;
        color: white;
        background-color: #02897A;
    }
}